# Virtual environments
.venv*/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Environment files
.env
.env.*

# Editor / OS
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
