flask>=3.0.0
flask-socketio>=5.3.6
python-socketio>=5.10.0
simple-websocket>=1.0.0
gevent>=24.2.1
gevent-websocket>=0.10.1
gunicorn>=21.2.0
pyyaml>=6.0.1
munch>=4.0.0
qrcode[pil]>=7.4.2
Pillow>=10.0.0
